@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

.talk-layout {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.1em 0;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 2em;
}
.talk-layout input {
  text-align: center;
  outline: none;
  border-radius: 1em;
  border: none;
  width: 25em;
  height: 1.6em;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.5em;
}
.talk-layout .send {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5em;
  height: 2em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  margin-left: 0.2em;
  width: 5em;
  letter-spacing: 2px;
  border-radius: 1em;
}
